<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.cmjlkj.mapper.GwMenuMapper">
    
    <resultMap type="GwMenu" id="GwMenuResult">
        <result property="menuId"    column="menu_id"    />
        <result property="menuName"    column="menu_name"    />
        <result property="parentId"    column="parent_id"    />
        <result property="orderNum"    column="order_num"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="url"    column="url"    />
        <result property="parentName" column="parent_name" />
    </resultMap>

    <sql id="selectGwMenuVo">
        select menu_id, menu_name, parent_id, order_num, create_by, create_time, update_by, update_time, url from gw_menu
    </sql>

    <select id="selectGwMenuList" parameterType="GwMenu" resultMap="GwMenuResult">
        <include refid="selectGwMenuVo"/>
        <where>  
            <if test="menuName != null  and menuName != ''"> and menu_name like concat('%', #{menuName}, '%')</if>
        </where>
        order by parent_id
    </select>
    
    <select id="selectGwMenuByMenuId" parameterType="Long" resultMap="GwMenuResult">
        select t.menu_id, t.menu_name, t.parent_id, t.order_num, t.create_by, t.create_time, t.update_by, t.update_time, t.url, p.menu_name as parent_name
        from gw_menu t
        left join gw_menu p on p.menu_id = t.parent_id
        where t.menu_id = #{menuId}
    </select>
        
    <insert id="insertGwMenu" parameterType="GwMenu" useGeneratedKeys="true" keyProperty="menuId">
        insert into gw_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="menuName != null and menuName != ''">menu_name,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="url != null">url,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="menuName != null and menuName != ''">#{menuName},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="url != null">#{url},</if>
         </trim>
    </insert>

    <update id="updateGwMenu" parameterType="GwMenu">
        update gw_menu
        <trim prefix="SET" suffixOverrides=",">
            <if test="menuName != null and menuName != ''">menu_name = #{menuName},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="url != null">url = #{url},</if>
        </trim>
        where menu_id = #{menuId}
    </update>

    <delete id="deleteGwMenuByMenuId" parameterType="Long">
        delete from gw_menu where menu_id = #{menuId}
    </delete>

    <delete id="deleteGwMenuByMenuIds" parameterType="String">
        delete from gw_menu where menu_id in 
        <foreach item="menuId" collection="array" open="(" separator="," close=")">
            #{menuId}
        </foreach>
    </delete>

</mapper>